.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;

  .bgCover {
    opacity: 1;
    background-color: rgba(86, 88, 105, var(--tw-bg-opacity));
    --tw-bg-opacity: 0.75;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .listWrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;

    .listContainer {
      --tw-bg-opacity: 1;
      background-color: #f8f9fa;
      display: flex;
      flex-direction: column;
      max-width: 32rem;
      width: 100%;
      flex: 1 1 0%;
      position: relative;

      .closeBtn {
        opacity: 1;
        padding-top: 0.8rem;
        margin-left: -4.8rem;
        top: 0;
        right: -5rem;
        position: absolute;

        button {
          background-color: transparent;
          border: none;
          width: 4rem;
          height: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          svg {
            color: white;
            height: 2.4rem;
            width: 2.4rem;
          }
        }
      }
    }

    .listShrink {
      width: 5.6rem;
      flex-shrink: 0;
    }
  }
}
